
body {
  font-family: sans-serif;
  padding: 20px;
  background-image:
    linear-gradient(rgba(61 67 102 /70%), rgba(61 67 102 /70%)),
    url("../images/img1.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  margin: 0 auto;
}

form{
    background-color: rgba(27, 27,50, 0.8);
    padding: 40px;
    border-radius: 4px;
    width: 100%;
    max-width: 720px;
    margin: 0 auto;
}
header{
    text-align: center;
    color: black;
}
label{
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}
textarea{
    width: 100%;
    min-height: 120PX;
    padding: 0.625rem;
}
input{
    width: 100%;
    min-height: 2px;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: white;
    border: 1px solid white;
    border-radius: 0.25rem;
    box-sizing: border-box;
}
select{
    width: 97%;
    height: 20px;
    box-sizing: content-box;
    padding: 0.375rem 0.75rem;
}
input[type="radio"], input[type="checkbox"] {
    width: auto;
    min-height: 20px;
    box-sizing: content-box;
    padding: 0.375rem 0.75rem;

}
button{
    display: block;
    width: 105%;
    padding: 0.75rem;
    background: green;
    color: white;
    min-height: 2px;
}